<div class="mh6 topDashNav">

  <h1>My Projects</h1>

    <article class="cf">
      <!--  Main project-->
      <div class="fl w-50 pointer" ng-repeat="project in dashboard.user.projects track by $index" ng-show="$first">
        <p class="ImageText ma4 endDateMainTitle">{{ project.title | limitTo : 15 | uppercase }}</p>
        <p class="ImageText endDateMain ma4">{{ dashboard.daysLeft(project.end_date) }}<span class="endDateMainDL">DAYS LEFT</span></p>

        <a ui-sref="project({ id: project.id })" class="db aspect-ratio aspect-ratio--1x1 dim">
          <span role="img" style="background-image:url({{ project.image }});" class="bg-center cover aspect-ratio--object"></span>
        </a>

      </div>


    <!--  Small projects-->

    <div class="fl w-50 w-25-ns pointer" ng-repeat="project in dashboard.user.projects track by $index" ng-show="!$first">
      <p class="ImageText ma4 f1">{{ project.title | limitTo : 15 | uppercase }}</p>
      <p class="ImageText endDate ma4 ">{{ dashboard.daysLeft(project.end_date) }}<span class="f2"> DAYS LEFT</span></p>
      <a ui-sref="project({ id: project.id })" class="db aspect-ratio aspect-ratio--1x1 ">
        <span role="img" style="background-image:url({{ project.image }});" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>

  </article>


  <!--  COLLAB-->

  <h1>Collab Projects</h1>
    <article class="cf">
      <!--  Main project-->
      <div class="fl w-50 pointer" ng-repeat="project in dashboard.collabProjects track by $index" ng-show="$first">
        <div class="dashCardTitle f2 white mh4 mv4">{{ project.title | limitTo : 15 | uppercase }}</div>

        <div class="dashCardTimer mv0 white mh4 mv4">{{ dashboard.daysLeft(project.end_date) }}<span class="f2">DAYS</span></div>
        <a ui-sref="project({ id: project.id })" class="db aspect-ratio aspect-ratio--1x1 dim">
          <span role="img" style="background-image:url({{ project.image }});" class="bg-center cover aspect-ratio--object"></span>
        </a>
      </div>


    <!--  Small projects-->

    <div class="fl w-50 w-25-ns pointer" ng-repeat="project in dashboard.collabProjects track by $index" ng-show="!$first">
      <div class="dashCardTitle f2 white mh4 mv4">{{ project.title | limitTo : 15 | uppercase }}</div>

      <div class="dashCardTimer mv0 white mh4 mv4">{{ dashboard.daysLeft(project.end_date) }}<span class="f2">DAYS</span></div>
      <a ui-sref="project({ id: project.id })" class="db aspect-ratio aspect-ratio--1x1 dim">
        <span role="img" style="background-image:url({{ project.image }});" class="bg-center cover aspect-ratio--object"></span>
      </a>
    </div>

  </article>

</div>







<div class="dashboard-container pb4">

  <div class=" center home-font black bg-white br4 pa4">
    <h2>Your Projects:</h2>
    <article ng-repeat="project in dashboard.user.projects track by $index"  class="br2 ba dark-gray b--black-10 mv4 w-100 mw5 dib projectCard">

      <img ui-sref="project({ id: project.id })" ng-src="{{ project.image }}" class="db w-100 br2 br--top cursor: pointer" alt="">

      <div class="pa2 ph3-ns pb3-ns bg-white">
        <div class="dt w-100 mt1">
          <div class="dtc">
            <h1 class="f5 f4-ns mv0">
              <a ui-sref="project({ id: project.id })">{{ project.title | limitTo : 8 }}.</a>
            </h1>
          </div>
          <div class="dtc tr">
            <h3 class="f5 mv0">{{ dashboard.daysLeft(project.end_date) }} ToGO</h3>
          </div>
        </div>
        <div class="f5 mv0 pt3 mid-gray">
          Duration:<span class="fr">{{ project.duration }} days</span><br>
          Milestones: <span class="fr">{{ project.milestones.length }}</span><br>
          Tasks: <span class="fr">{{ project.tasks.length }}</span><br>
          <!-- Started: <span class="">{{ project.start_date }}</span><br>
          Ends: <span class="">{{ project.end_date }}</span><br> -->
          <button ng-click="dashboard.selectToEdit(project.id)" type="button" name="button">Edit Project</button>
          <button type="button" ng-click="dashboard.deleteProject(project)" name="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </article>


    <!-- Add Project Card -->
    <div class="dib cursor: pointer" data-toggle="modal" data-target="#myModal">
      <article class="br2 b--black-10 mv4 w-100 mw5 dib projectCard">
        <img ng-src="http://www.public-domain-photos.com/free-cliparts-4/computer/actions/add.png" class="db w-100 br2 br--top" alt="">
        <div class="pa2 ph3-ns pb3-ns">
          <div class="dt w-100 mt1">
            <div class="dtc">
              <h1 class="f5 f4-ns mv0 tc"></h1>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>





  <div class=" center pt5 home-font black bg-white br4 mt4 pa4">
    <h2>Collab Projects:</h2>
    <article ng-repeat="project in dashboard.collabProjects track by $index"  class="br2 ba dark-gray b--black-10 mv4 w-100 mw5 dib projectCard">
      <img ng-src="{{ project.image }}" class="db w-100 br2 br--top" alt="">
      <div class="pa2 ph3-ns pb3-ns">
        <div class="dt w-100 mt1">
          <div class="dtc">
            <h1 class="f5 f4-ns mv0">
              <a ui-sref="project({ id: project.id })">{{ project.title | limitTo : 8 }}.</a>
            </h1>
          </div>
          <div class="dtc tr">
            <h3 class="f5 mv0">{{ dashboard.daysLeft(project.end_date) | limitTo : 2 }}. Days left</h3>
          </div>
        </div>
        <div class="f5 mv0 pt3 mid-gray">
          Duration:<span class="fr">{{ project.duration }} days</span><br>
          Milestones: <span class="fr">{{ project.milestones.length }}</span><br>
          Tasks: <span class="fr">{{ project.tasks.length }}</span><br>
          <!-- Started: <span class="">{{ project.start_date }}</span><br>
          Ends: <span class="">{{ project.end_date }}</span><br> -->

        </div>
      </div>
    </article>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Project</h4>
        </div>
        <div class="modal-body">

          <div id="closeModal" class="">
            <form ng-submit="dashboard.createProject()" id="projectForm" name="dashboard.projectForm">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" ng-model="dashboard.newProject.title" name="title" value="">
              </div>
              <div class="form-group">
                <label for="duration">Duration (in days)</label>
                <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="dashboard.newProject.duration" name="duration" value="">
              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <input type="text" ng-model="dashboard.newProject.image" name="image" value="">
              </div>

              <div class="form-group">
                <label for="userLoopkup">Add Collaborators</label>
                <input type="text" name="userLookup" class="lookupField" ng-model="dashboard.userLookup" value="dashboard.userLookup">
                <button type="button" ng-click="dashboard.addCollaborator()" name="button">Add User</button>
                <div class="" ng-repeat="user in dashboard.newProject.collaborators">
                  <p>{{ user.username }}</p>
                  <img ng-src="{{user.image}}" alt="">
                  <button type="button" ng-click="dashboard.removeCollaborator(user.id, dashboard.newProject)" name="button">Remove</button>
                </div>
                <!-- <p ng-show="dashboard.newProject.user_ids.length">{{dashboard.newProject.user_ids.length}} collaborator(s).</p> -->
              </div>

              <div class="modal-footer">
                <div class="form-group">
                  <button type="submit" class="fr btn btn-success"><i class="glyphicon glyphicon-ok"></i> Save</button>
                </div>
              </div>
            </form>

            <div id="updateProject" class="" ng-show="dashboard.showEditForm">
              <form ng-submit="dashboard.updateProject(dashboard.projectToUpdate)" name="dashboard.updateProjectForm">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" ng-model="dashboard.projectToUpdate.title" name="title" value="">
                </div>
                <div class="form-group">
                  <input type="submit" name="submit" value="Update Project">
                </div>
                <div class="form-group">
                  <button ng-click="dashboard.hideEditForm()" type="button" name="hideForm">Cancel</button>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
