<div class="home-waves">
  <div class="mw9 center pt5 home-font">
    <div class="cf ph2-ns tc">
      <div class="w-100 pa2 tc logo">
        <img src="/images/FISI.png" alt="logo">
      </div>
      <div id="loginSection" ng-controller="MainCtrl as main" class=" w-100 dib tc homeLogin br3 pa3 cursor: pointer" ng-hide="main.user">

        <div ng-controller="LoginCtrl as login" class="loginPop black">
          <p class="loginHeads ">
            <a ng-href="#loginSection" id="loginform">Login</a>
            <span class="mh3">

            </span>
            <a ng-href="#registerSection">Register</a>
          </p>
          <div  class="login w-100 dib tc">
            <div class="arrow-up w-50 dib tc"></div>
            <div class="formholder w-100 dib tc">
              <div class="randompad">
                <fieldset class="bringFront cf p">
                  <form ng-submit="login.login()">
                    <label class="" for="email-address">Email</label>
                    <input class="" type="email" name="email-address"  ng-model="login.user.email" placeholder="insert@funnyplaceholder.com">
                    <label  for="password">Password</label>
                    <input class="input-reset" type="password" name="password"  ng-model="login.user.password" placeholder="e.g. kittenzRule">

                    <input type="submit" value="Login">

                  </form>
                </fieldset>
              </div>
            </div>
          </div>
        </div>



        <!-- <p ui-sref="login" class="white f2 nItems login">Login</p> -->
      </div>
    </div>
  </div>
</div>

<!--
<div class="panel2-carContainer">
<div class="mw9 center ph3-ns pt3 cf">
<div class="logos tc">
<div class="dib w-20 pa2"><img ng-src="/images/GL.png"></div>
<div class="dib w-20 pa2"><img ng-src="/images/rvL.png"></div>
<div class="dib w-20 pa2"><img ng-src="/images/fbL.png"></div>
<div class="dib w-20 pa2"><img ng-src="/images/padL.png"></div>
</div>
</div>
</div> -->

<div class="panel-3-container">
  <div class="">
    <div class="mw9 center home-font pt4">
      <div class="cf ph2-ns tc">
        <div class="white f1 home-font">
          FckItShipIt™  is the best sprint manager; less conflicts, more fun.
        </div>
      </div>
    </div>
    <div class="containerH">
      <div id="movingShip" class="mShip movingShip"></div>
      <div class="timeLine"></div>
      <div class="monitor"></div>
      <div class="monitorbg"></div>
    </div>
  </div>
</div>


<div class="home-4-container cf">
  <div class="mw9 center ph3-ns mv5">
    <div class="tc pa2 mv5 f1 home-font">
      A word from our founders
    </div>
    <div class="mt3 tc">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/XU_9ucFfhdI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


  <div class="cf">
    <div class="mw9 center ph3-ns mv5">
      <div class="tc pa2 mv5 f1 home-font">
        Register
      </div>


      <div id="registerSection" class="registerForm" ng-controller="RegisterCtrl as register">
        <form class="f2 measure center" ng-submit="register.register()">

          <div class="mt3">
            <input class="pa2 input-reset ba bg-near-white hover-bg-black o-70 o-70 hover-white w-100" type="text" name="username"  ng-model="register.user.username" placeholder="Username">
          </div>

          <div class="mt3">
            <!-- <label class="db fw6 lh-copy" for="email-address">Email</label> -->
            <input class="pa2 input-reset ba bg-near-white hover-bg-black o-70 hover-white w-100" type="email" name="email-address"  ng-model="register.user.email" placeholder="Email">
          </div>

          <div class="mv3">
            <!-- <label class="db fw6 lh-copy" for="password">Password</label> -->
            <input class="pa2 input-reset ba bg-near-white hover-bg-black o-70 hover-white w-100" type="password" name="password"  ng-model="register.user.password" placeholder="Password">
          </div>

          <div class="mv3">
            <!-- <label class="db fw6 lh-copy" for="password_confirmation">Password Confirmation</label> -->
            <input class="pa2 input-reset ba bg-near-white hover-bg-black o-70 hover-white w-100" type="password" name="password_confirmation"  ng-model="register.user.password_confirmation" placeholder="Confirm Password">
          </div>

        </form>
      </div>

    </div>
  </div>




</div>
