<div class="home-1-bg">
  <div class="mw9 center home-1-text">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
        <div class="">
          <h1>“…I’m a programmer and can’t believe it’s<br> taken this long…”</h1>
          <h3>Jessy 31, Google</h3>
        </div>
      </div>
      <div class="fl w-100 w-50-ns pa2">
        <div class="">
          <img ng-src="/images/home-van.png" height="280" width="500">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mw9 center ph3-ns mv5">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-50-ns pa2">
      <div class="br b--purple bg-white pv4">
        <h4>FckItShipIt™ is a really easy and super-simple task manger for team sprints; less conflicts, more productivty. </h4>
      </div>
    </div>
    <div class="fl w-100 w-50-ns pa2">
      <div class="ml3 black-50 bg-white pv4">
          <h5>We saw there was a demand for a simple sprint manager as traditional ticketing apps did not have an explicit focus on time but rather the tasks at hand leading to tasks being missed or not properly updated. </h5>
        </div>
    </div>
  </div>
</div>
