<div class="home-5-container cf">
  <div class="mw9 center ph3-ns mv5">
    <div class="fl pa2 mv5 bb b--blue f1">
      Register
    </div>


    <div class="registerForm" ng-controller="RegisterCtrl as register">
      <form class="f2 measure center" ng-submit="register.register()">

        <div class="mt3">
          <label class="db fw6 lh-copy f3" for="username">Username</label>
          <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="username"  ng-model="register.user.username" placeholder="Username">
        </div>

        <div class="mt3">
          <label class="db fw6 lh-copy f3" for="email-address">Email</label>
          <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="email" name="email-address"  ng-model="register.user.email" placeholder="Email">
        </div>

        <div class="mv3">
          <label class="db fw6 lh-copy f3" for="password">Password</label>
          <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password"  ng-model="register.user.password" placeholder="e.g. kittenzRule">
        </div>

        <div class="mv3">
          <label class="db fw6 lh-copy f3" for="password_confirmation">Password Confirmation</label>
          <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password_confirmation"  ng-model="register.user.password_confirmation" placeholder="Confirm Password">
        </div>

        <div class="">
          <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f3 dib" type="submit" value="Register">
        </div>

      </form>
    </div>
  </div>
</div>
