<!DOCTYPE html>
<html ng-app="ProjectFour">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Fck It Shp It</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Space+Mono');
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="MainCtrl as main">
  <div class="navbarAll">

  <div class="navbar-toggleable-md navItems  pb2 bb b--white-30">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar">X</span>
      </button>
      <a class="navbar-brand title f1" ui-sref="home">FckItShpIt</a>
    </div>
    <div class="navbar-collapse collapse ">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="main.user"><a ui-sref="pricing" class="white f2">Pricing</a></li>

        <li ng-hide="main.user"><a ui-sref="register" class="white f2">Register</a></li>

        <li ng-hide="main.user"> <a ui-sref="login" class="white f2" >Login</a></li>

        <li ng-show="main.user"><a ui-sref="dashboard" class="white f2">Dashboard</a></li>

        <li ng-show="main.user"><a ng-click="main.logout()" ui-sref="login" class="white f2">Logout</a></li>

        <li ng-show="main.user"><a ui-sref="usersIndex" class="white f2">Users</a></li>
      </ul>
    </div>
  </div>
  </div>

  <!-- <nav class="navbar-toggleable-md navbarAll pb3">
    <div class="navItems">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
        X
      </button>

      <a class="f1 fl title" ui-sref="home">FckItShpIt</a>

      <div class="collapse navbar-collapse  bb b--near-white" id="myNav">

        <ul class="nav navbar-nav navbar-right nItems">

          <li ng-hide="main.user"><a ui-sref="pricing" class="white f2">Pricing</a></li>

          <li ng-hide="main.user"><a ui-sref="register" class="white f2">Register</a></li>

          <li ng-hide="main.user"> <a ui-sref="login" class="white f2" >Login</a></li>

          <li ng-show="main.user"><a ui-sref="dashboard" class="white f2">Dashboard</a></li>

          <li ng-show="main.user"><a ng-click="main.logout()" ui-sref="login" class="white f2">Logout</a></li>

          <li ng-show="main.user"><a ui-sref="usersIndex" class="white f2">Users</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- <nav>
  <ul>
  <h1><a ui-sref="home">Fck It Shp It</a></h1>
  <li ng-show="main.user">Logged in: {{main.user.username}}</li>
  <li ng-hide="main.user"><a ui-sref="login">Login</a></li>
  <li ng-hide="main.user"><a ui-sref="register">Register</a></li>
  <li ng-show="main.user"><a  ui-sref="dashboard">Dashboard</a></li>
  <li ng-show="main.user"><a ng-click="main.logout()" ui-sref="login">Logout</a></li>
  <li ng-show="main.user"><a ui-sref="usersIndex">Users</a></li>
</ul>
</nav> -->
<main ui-view></main>
<footer></footer>
</body>
</html>
