$veryLightPurple: #8883C6;
$veryDarkPurple: #2F2651;
$darkPurple: #53438f;
$lightPurple: #635f8f;
$red: #EF6F6C;
$green: #56E39F;


$blue:  #0074D9;
$darkGreen: #2ecc40;
$black: #111111;
$grey: #AAAAAA;
$purple: #b10dc9;


$taskRed: #e74c3c;
$taskGreen: #2ecc71;
$taskBlue: #3498db;
$taskDarkBlue: #34495e;
$taskAqua: #1abc9c;
$taskPurple: #9b59b6;
$taskYellow: #f1c40f;
$taskOrange: #f39c12;
$taskDefault: #ecf0f1;



// $altPurple: #b10dc9;
