$veryLightPurple: #8883C6;
$veryDarkPurple: #2F2651;
$darkPurple: #53438f;
$lightPurple: #635f8f;
$red: #EF6F6C;
$green: #56E39F;


$blue:  #0074D9;
$darkGreen: #2ecc40;
$black: #111111;
$grey: #AAAAAA;
$purple: #b10dc9;



// $altPurple: #b10dc9;
