.controlPanel {
  margin-top: 10px;
  background: #a0a0a0;
  height: 450px;
  .completed {
    height: 400px;
    background: green;
  }
  .blocked {
    height: 400px;
    background: red;
  }
  .taskTabs {
    height: 50px;
  }


  .completedBox {
    background: #33ff99;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .blockedBox {
    background: #ff3399;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .giveUpBox {
    background: orange;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .stats {
    height: 450px;
    background: #995588;
  }
  .log {
    height: 450px;
    background: #558899;
    flex: 1 1 0; 
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
