@import "colors";

.controlPanel {
  background-color: $lightPurple;
  height: 450px;
  color: white;
  // border-left: 1px solid black;


  .completed {
    height: 400px;
    background-color: $green;
    overflow: scroll;
    padding-top: 10px;
  }
  .blocked {
    padding-top: 10px;
    height: 400px;
    background: $red;
    overflow: scroll;
  }
  .taskTabs {
    height: auto;
    text-align: center;

    h4 {
      // height: 40px;
      position:absolute;
      top:50%;
      left:50%;
      margin-top:-10px;
      margin-left:-40px;
    }
  }

  .completedHeader {
    height: 50px;
  }
  .blockedHeader {
    height: 50px;
  }
  .completedHeaderSelected {
    background: $green;
    border-top-left-radius: 5px;
  }
  .blockedHeaderSelected {
    background: $red;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .completedBox {
    background: $green;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .completedBoxOver {

    height: 150px;
    position: relative;
    animation-name: completedBoxAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @keyframes completedBoxAnimation {
      from {background-color: $green;}
      to {background-color:  #00ff69;}
    }
  }
  .blockedBox {
    background: $red;
    height: 150px;
    position: relative;

    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .blockedBoxOver {
    height: 150px;
    position: relative;
    animation-name: blockedBoxAnimation;
    animation-duration: 1.0s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @keyframes blockedBoxAnimation {
      from {background-color: $red;}
      to {background-color: #ff0007;}
    }
  }

  .destroyBox {
    background: orange;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .destroyBoxOver {
    background: url('https://media.giphy.com/media/3o6ozh46EbuWRYAcSY/giphy.gif');
    background-size: cover;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .stats {
    height: 450px;
    background: $lightPurple;
  }
  .log {
    height: 450px;
    background: $lightPurple;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .blockedText {
      color: $red;
      font-weight: bold;
    }
    .completedText {
      color: $green;
      font-weight: bold;
    }
    .unblockedText {
      color: orange;
      font-weight: bold;
    }
    .logDayHeader {
      margin-left: 10px;
    }
    .logContent {
      margin-left: 20px;
    }
  }
}
