.controlPanel {
  margin-top: 10px;
  background: #a0a0a0;
  height: 450px;
  .completed {
    height: 400px;
    background: green;
  }
  .blocked {
    height: 400px;
    background: red;
  }
  .taskTabs {
    height: 50px;
  }


  .completedBox {
    background: #33ff99;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .completedBoxOver {

    height: 150px;
    position: relative;
    animation-name: completedBoxAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @keyframes completedBoxAnimation {
      from {background-color: #33ff99;}
      to {background-color:  #60ff00;}
    }
  }
  .blockedBox {
    background: #ff5b58;
    height: 150px;
    position: relative;

    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .blockedBoxOver {
    height: 150px;
    position: relative;
    animation-name: blockedBoxAnimation;
    animation-duration: 1.0s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @keyframes blockedBoxAnimation {
      from {background-color: #ff5b58;}
      to {background-color: #ff0007;}
    }
  }

  .destroyBox {
    background: orange;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .destroyBoxOver {
    background: url('https://media.giphy.com/media/3o6ozh46EbuWRYAcSY/giphy.gif');
    background-size: cover;
    height: 150px;
    position: relative;
    h2 {
      text-align: center;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .stats {
    height: 450px;
    background: #995588;
  }
  .log {
    height: 450px;
    background: white;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .blockedText {
      color: #FF4136;
      font-weight: bold;
    }
    .completedText {
      color: #2ECC40;
      font-weight: bold;
    }
    .unblockedText {
      color: orange;
      font-weight: bold;
    }
  }
}
