.dashboard-container{
  background: #ECE9E6;
  padding-top: 100px;
  padding-bottom: 100px;

}
.capitalize{
  text-transform: capitalize;
  font-weight: bold;
}
.yourProjects{
  clear: both;
}
.projectCard{
  margin-right: 50px;
}
