.dashboard-container{
  background: #ECE9E6;
  padding: 0 10%;
  padding-top: 1%;
}
.capitalize{
  text-transform: capitalize;
  font-weight: bold;
}
.yourProjects{
  clear: both;
}

.pointer{
  cursor: pointer;
  float: left;
}

.topDashNav{
  font-weight: bold;
  .ImageText{
    position: absolute;
    z-index: 100;
  }
  a{
    opacity: 0.7
  }
  .endDateMain{
    margin-top: 10%;
    font-size: 300px;
  }
  .endDateMainTitle{
    font-size: 60px;
  }
  .endDateMainDL{
    font-size: 40px;
  }
  .endDate{
    margin-top: 10%;
    font-size: 110px;
  }

}
.btn{
  background-color: #56E39F!important;
  border: none!important;
}
