.dashboard-container{
  background: #ECE9E6;
  padding: 0 10%;
  padding-top: 1%;
}
.capitalize{
  text-transform: capitalize;
  font-weight: bold;
}
.yourProjects{
  clear: both;
}

.pointer{
  cursor: pointer;
  float: left;
}

.topDashNav{
  font-weight: bold;
  .ImageText{
    position: absolute;
    z-index: 1;
  }
  a{
    opacity: 0.7
  }
  .endDateMain{
    margin-top: 10%;
    font-size: 250px;
    vertical-align: bottom;
  }
  .endDateMainTitle{
    font-size: 60px;
  }
  .endDateMainDL{
    position: absolute;
    margin-top: 30%;
    margin-left: 20%;
    font-size: 40px;
    z-index: 2;
  }
  .endDate{
    margin-top: 7%;
    font-size: 110px;
  }
  .smallPText{
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
    font-size: 20px;
    z-index: 2;
  }

}
.btn{
  background-color: #56E39F!important;
  border: none!important;
}
.dropdown-menu{
  z-index: 101!important;
  position: fixed;
}

.projModal{
  input{
    width: 100%
  }
}
