main{
  background-color: grey
}

.home-font{
  color: white;
  font-family: 'Cabin Condensed', sans-serif;
}

.logos{
  margin-top: 125px;
}
.logos > div > img {
  max-height: 50px;
}

.registerForm,.loginForm{
  clear: both;
}

.home-waves{
  height: 670px;
  background:url("/images/wavesB.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
.logo > img{
  min-height: 500px;
  z-index: 5;
}


.containerH {
  width: 100%;
  height: 500px;
}
.panel2-carContainer{
  background-color: black;
  // background-image: url("https://media.giphy.com/media/z00B1bo9u9SWA/giphy.gif");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 1) !important;
}

.panel-3-container{
  background-color: black;
  height: 850px;
}

.mShip {
  position: absolute;
}

.movingShip {
  width: 120px;
  height: 120px;
  background-image: url("/images/boatTranslate.png");
  background-position: center;
  background-size: contain;
  // left: 800px;
  top: 900px;
  z-index: 1;
}

.timeLine{
  position: absolute;
  min-width: 100%;
  height: 200px;
  top: 1050px;
  background-image: url("http://med-fom-fmprpostgrad.sites.olt.ubc.ca/files/2016/02/Timeline-for-Scholarship-Projects.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 2;
}
.monitor{
  position: absolute;
  width: 100%;
  height: 700px;
  top: 800px;
  background-image: url("/images/monitor.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 3;
}
.monitorbg{
  position: absolute;
  width: 100%;
  height: 480px;
  top: 825px;
  background-image: url("https://media.giphy.com/media/l3UcrZHrGW2CjHXqM/giphy.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 0;
}

.homeLogin{
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  /* Opera */
  transition: all 0.2s ease-out;
}
.homeLogin:hover{
  opacity: 1;
}

.home-4-container{
  background-image: url("https://i.warosu.org/data/vr/img/0016/68/1402348179175.gif");
  background-position: center;
  background-size: cover;
}
