$blue:  #0074D9;
$green: #01FF70;
$darkGreen: #2ecc40;
$black: #111111;
$grey: #AAAAAA;
$red: #FF4136;
$purple: #b10dc9;

#icon {

  display: inline-block;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  // background-color: $red;
  background-image: url('/images/boat.png');
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.lineContainer {
  background-color: white;
  height:200px;
  margin: 40px 10px;
  position: relative;
  z-index: 0;
}


.line {
  background-color: white;
  // margin: 40px 10px;
  // height: 200px;
  position: absolute;
  bottom: 10px;
}

.lineDayDot {
  background-color: transparent;
  border: 2px solid $black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;

}

.lineDayDot:hover {
  background-color: $black;
  //border-style: solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.linePastDayDot {
  background-color: $green;
  //border: 2px solid $green;

  //border-style: solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;

}

.linePastDayDot:hover {
  background-color: $green;
  //border-style: solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

// .lineDotSelected {
//   background-color: blue;
// }

#lineStartDot {
  background-color: $green;
  //border-style: solid;
  // border-style: solid;
  // border-color: green;
  // border-width: 1px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#lineStartDot:hover {
  background-color: $blue;
  //border-style: solid;
  // border-style: solid;
  // border-color: green;
  // border-width: 1px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#lineDeadlineDot {

  background-color: $black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;

}

#lineDeadlineDot:hover {
  background-color: $blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#lineCurrentDot {

  border: 2px solid $green;
  background-color: transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;

}

#lineCurrentDot:hover {
  background-color: $blue;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.linePast {
  background-color: $green;
  height: 3px;
  display: inline-block;
  // position: absolute;
}

.lineFuture {
  background-color: $black;
  height: 3px;
  display: inline-block;
  // position: absolute;
}

.lineMilestone {

  background-color: $blue;
  height: 100px;
  width: 5px;
  display: inline-block;
  border-radius: 5px;

}
