@import "colors";

#icon {

  display: inline-block;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  // background-color: $red;
  background-image: url('/images/boat.png');
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.lineLink {
  background-color: transparent;
  border-color: $red;
  border-top: 3px solid;
  border-right: 3px solid;
  border-left: 3px solid;
  // border-radius: 3px;
  height: 15px;

}

.lineContainer {
  background-color: white;
  height:200px;
  margin: 40px 10px;
  position: relative;
  z-index: 0;
}


.line {
  background-color: white;
  // margin: 40px 10px;
  // height: 200px;
  position: absolute;
  bottom: 10px;
}

.lineDayDot {
  background-color: $lightPurple;
  // border: 2px solid $lightPurple;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;

}

.lineDayDot:hover {
  background-color: $lightPurple;
  //border-style: solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.linePastDayDot {
  background-color: $green;
  //border: 2px solid $green;

  //border-style: solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;

}

.linePastDayDot:hover {
  background-color: $blue;
  //border-style: solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

// .lineDotSelected {
//   background-color: blue;
// }

#lineStartDot {
  background-color: $green;
  //border-style: solid;
  // border-style: solid;
  // border-color: green;
  // border-width: 1px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

#lineStartDot:hover {
  background-color: $blue;
  //border-style: solid;
  // border-style: solid;
  // border-color: green;
  // border-width: 1px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

#lineDeadlineDot {
  background-image: url("/images/complete.png");
  background-size: contain;
  background-position:bottom;
  background-repeat: no-repeat;
  width: 50px;
  height: 100px;
  display: inline-block;

}

#lineDeadlineDot:hover {
  background-color: $blue;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

#lineCurrentDot {

  // border: 2px solid $lightPurple;
  background-color: $green;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;

}

#lineCurrentDot:hover {
  background-color: $blue;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.linePast {
  background-color: $green;
  height: 3px;
  display: inline-block;
  // position: absolute;
}

.lineFuture {
  background-color: $lightPurple;
  height: 2px;
  display: inline-block;
  // position: absolute;
}

.lineMilestone {

  background-color: $darkPurple;
  height: 100px;
  width: 5px;
  display: inline-block;
  border-radius: 5px;

}

.lineMilestone:hover {
  background-color: $blue;
  height: 100px;
  width: 5px;
  display: inline-block;
  border-radius: 5px;
}

.lineLabel {
  font-size: 10px;
}

.lineMilestoneLabel {

  text-align: center;
  font-size: 13px;

  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
  transform: rotate(15deg);
}

.lineMilestoneLabelHover {
  transition: all .1s ease-in-out;
  transform: scale(2.0);
}
