.navbarAll{
  width: 100%;
  position: relative;
  z-index: 100;
  background-color:#53438f!important;
}

.navItems{
  width: 95%;
  margin: 0 auto;

}

.title,.nItems{
  color: white;
  font-family: 'Space Mono', monospace;
}

.userThumbnail {
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 5px;
}
.loginHeads,.login{
  margin: 0 auto;
  z-index: 100;
}
.tempB{
  position: absolute;
  z-index: 100;
}
