.navbarAll{
  width: 100%;
  position: fixed;
}

.navItems{
  width: 80%;
  margin: 0 auto;

}

.title,.nItems{
  color: white;
  font-family: 'Space Mono', monospace;
}

.userThumbnail {
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 5px 0 0 5px;
}
