@import "colors";

body {
  background-color: white;
}


.contributor {
  text-align: center;

  h5 {
    text-transform: capitalize;
  }
  img {
    margin-bottom: 5px;
  }
  .removeBtn {
    background: $red !important;
    color: white;
  }
}

.contributorDiv {
  border-radius: 50%;
  width: 35px;
  position: relative;
  top: 50%;
  transform: translateY(-5%);
  border: 1px solid white;

}

.contributorSearch {
  padding-top: 20px;
  margin-top: 60px;
form {
    text-align: center;
    input {
      width: 50%;
    }
}
  .contributorResult {
    text-align: center;
    background: lightgrey;
    border-radius: 15px;
    border: 10px solid white;
    p {
      text-transform: capitalize;
    }
  }
}

.newMilestone {

  input, select {
    // border: none;
    // border-radius: 5px;
    float: right;
    width: 50%;
  }

}

.projectPanels {
  // border-top: 1px solid black;
}

.taskDescInputModal {
  border-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100px;
  min-width: 100%;
  min-height: 100px;
}
.colorOption {
  height: 12px;
  width: 30px;
}
.updateTaskForm {
  padding: 20px;
}
.sampleColor {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  // border: 1px solid black;
}
