.sideBar {
  background: #666666;
  height: 450px;

  .sideBarOption {
    height: 150px;
    position: relative;
    img {
      height: 40px;
      position:absolute;
      top:50%;
      left:50%;
      margin-top:-25px;
      margin-left:-25px;
    }
  }
  .statsButton {
    background: $darkPurple;
    // border-left: 1px solid #000;
  }
  .tasksButton {
    background: $darkPurple;
    // border-bottom: 1px solid #000;
    // border-left: 1px solid #000;

  }
  .logButton {
    background: $darkPurple;
    // border-bottom: 1px solid #000;
    // border-left: 1px solid #000;

  }
  .selectedButton {
    background: $veryDarkPurple;
  }


}
