.sideBar {
  margin-top: 10px;
  background: #666666;
  height: 450px;

  .sideBarOption {
    height: 150px;
    position: relative;
    img {
      height: 40px;
      position:absolute;
      top:50%;
      left:50%;
      margin-top:-25px;
      margin-left:-25px;
    }
  }
  .statsButton {
    background: #5aa1f1;
    border-bottom: 1px solid #000;

  }
  .tasksButton {
    background: #5aa1f1;
    border-bottom: 1px solid #000;
  }
  .logButton {
    background: #5aa1f1;
  }
}
