// Import all of your scss files here

@import "homepage";
@import "navbar";
@import "taskPanel";
@import "controlPanel";
@import "sideBar";
@import "dashboard";
@import "login";
@import "project";
@import "line";
@import "profile";

$blue:  #0074D9;
$green: #01FF70;
$darkGreen: #2ecc40;
$black: #111111;
$grey: #AAAAAA;
$red: #FF4136;
$purple: #b10dc9;
