@import "colors";



.mainTaskPanel {

}

.taskPanel {
  background-color: $darkPurple;
  height: 450px;
  // overflow-y: scroll;
  // overflow-x: visible;
  #dayLabel {
    color: white;
    margin: 15px;
  }

  .taskCard {
    background: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100px;
    overflow: hidden;
    // transition: all .2s ease-in-out;

  }

  .taskDescInput {
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 60px;
    width: 200px;
  }

  .taskCard:hover {
    transform: scale(1.03);
  }

  .taskCardRotatedRight {

    background: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100px;
    overflow: hidden;

    animation: rotateRight 0.2s 1;
    -webkit-animation-fill-mode: forwards;
    // border: 2px solid orange;
    .taskColorTag {
      border-radius: 0 !important;
    }
    @keyframes rotateRight {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(15deg);
      }
    }
  }

  .taskCardRotatedLeft {

    background: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100px;
    overflow: hidden;

    animation: rotateLeft 0.2s 1;
    -webkit-animation-fill-mode: forwards;
    // border: 2px solid orange;
    .taskColorTag {
      border-radius: 0 !important;
    }
    @keyframes rotateLeft {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-15deg);
      }
    }

  }

  .addTaskCard {
    background: $veryLightPurple;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100px;
    overflow: hidden;
    .addTaskForm {
      margin-top: 20px;
    }
    .addTaskSubmit {
      height: 100px;
      margin: 0 auto;
    }
  }

  .addTaskButton {
    position: relative;
    left: 8px;
    top: 35px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: none;
    background: $green;
    color: white;
  }
  .taskColorTag {
    // background: orange;
    z-index: 10;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .taskDescription {
    height: 60px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    p {
      font-weight: bold;
      font-size: 12px;
      margin: 5px 0 0 5px;
    }
    border-bottom: 1px solid grey;
  }
  .taskDueDay {
    font-size: 9px;
    height: 40px;
    margin-top: 8px;
  }
  .taskUserContainer {
    // bottom: 0;
    // height: 50px;
  }

  .taskUserImg {
    border-radius: 50%;
    border: 1px solid grey;
    height: 20px;
    float: right;
    margin-top: 10px;
    // width: 20px;

  }
  .taskContent {
    color: black;
  }
  .taskOptions {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    &:hover {
    }
  }

}

.updateTask {
  background: #5555ff;
}

.addMilestone {
  background: #ff5555;
}
.addMilestoneTask {
  background: #55ff55;
}
